<div class="container colorback">
  <nav class="navbar navbar-light bg-light">
    <a class="navbar-brand nav-link text-primary" href="#" [routerLink]="['employee']">
        <i class='fas fa-chalkboard-teacher' style='font-size:36px;color:blue'></i>&nbsp;Employee Data
    </a>

    <a class="navbar-brand nav-link text-primary" href="#" [routerLink]="['meetingschedule']">
        <i class='fas fa-mail-bulk' style='font-size:36px;color:blue'></i>&nbsp; Meeting Schedule
    </a>

  </nav>
<div>
    <router-outlet></router-outlet>
</div>
</div>